# =====================
# Logs
# =====================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================
# Node / Build
# =====================
node_modules
dist
dist-ssr
.vite/
*.local
.env
.env.local
.env.prod
.env.staging
.env.test
.build/
.cache/

# =====================
# Lockfiles (optional, keep if you want reproducible builds)
# =====================
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# =====================
# Editor directories and files
# =====================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

# =====================
# Optional / Misc
# =====================
coverage/
cypress/videos/
cypress/screenshots/
.playwright/
